<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">

</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h4 class="masthead-brand" style="color: red">Street Food Go</h4>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a sec:authorize="hasRole('CUSTOMER') or isAnonymous()" class="nav-link active" href="/restaurants">Available Restaurants</a>
            <a sec:authorize="hasRole('CUSTOMER')" class="nav-link active" href="/customer_dashboard">View Your Orders</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link active" href="/login">Login</a>
            <a sec:authorize="!isAuthenticated()" class="nav-link active" href="/register">Register</a>
            <a sec:authorize="hasRole('OWNER')" class="nav-link active" href="/restaurant">My Restaurants</a>
            <a sec:authorize="hasRole('OWNER')" class="nav-link active" href="/menu">Edit Your Menu</a>
            <a sec:authorize="hasRole('OWNER')" class="nav-link active" href="/order/restaurant">Edit Your Orders</a>
            <a sec:authorize="hasRole('OWNER')" class="nav-link active" href="/dashboard">Dashboard</a>
            <a sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-primary" value="Sign Out">
                    </form>
            </a>
        </nav>
    </div>
</header>

</body>
</html>