<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<header layout:fragment="header">
    <meta charset="UTF-8">
    <title>Title</title>
</header>
<body>
<section layout:fragment="main-content">
    <form th:action="@{/new}" th:object="${p1}" method="POST">

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" th:field="*{name}" class="form-control">
        </div>

        <div class="form-group">
            <label for="description">description</label>
            <input type="text" id="description" class="form-control" th:field="*{description}" >
        </div>

        <div class="form-group">
            <label for="price">price</label>
            <input type="text" id="price" class="form-control" th:field="*{price}" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
</body>
</html>