<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<section layout:fragment="main-content">
    <br>
    <div class="container-fluid"><h1>Edit The Menu Of Your Restaurants</h1></div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="res : ${res}">
            <span>
                <td><a class="btn btn-primary btn-primary" th:href="@{'/menu/' + ${res.getRestId()}}">Edit Menu</a>
                <br><br><a class="btn btn-primary btn-primary" th:href="@{'/product/' + ${res.getRestId()}}">Add New Products</a></td>
            </span>
                <td> <h3 th:text="${res.getRestName()}"></h3></td>
        </tr>
        </tbody>
    </table>
</section>
</html>