<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Menu-Selection</title>
</head>
<section layout:fragment="main-content">
<form th:action="@{'/menu/'+ ${rest_id}+'/cart'}" method="POST" th:object="${OrderDTO}">
    <table class="table">
        <div class="container-fluid"><h1>Catalog of Foods</h1></div>
        <thead>
        <tr>
            <div sec:authorize="hasRole('CUSTOMER')"><th>Select Product</th></div>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Belongs To rest: </th>
            <div sec:authorize="hasRole('CUSTOMER')"><th>Quantity</th></div>
        </tr>
        </thead>
        <tbody>
<!--Thymeleaf Syntax for Iterating though a list => https://stackoverflow.com/questions/54480070/binding-list-in-thymeleaf-index-out-of-bounds-->
        <tr th:each="menuItem, i : ${products}">
            <div sec:authorize="hasRole('CUSTOMER')">
                <td>
                    <input type="checkbox" th:field="*{selections[__${i.index}__].selected}">
                    <input type="hidden" th:field="*{selections[__${i.index}__].productId}">
                </td>
            </div>
            <td th:text="${menuItem.getName()}"></td>
            <td th:text="${menuItem.getDescription()}"></td>
            <td th:text="${menuItem.getPrice()} + ' €'"></td>
            <td th:text="${menuItem.getRestaurant().getRestName()}"></td>
            <div sec:authorize="hasRole('CUSTOMER')">
                <td><input type="number" min="0" max="10" th:field="*{selections[__${i.index}__].quantity}"></td>
            </div>
        </tr>
        </tbody>

    </table>
    <div class="form-group" th:if="${error != null}">
        <p style="color: red; font-size: x-large" th:text="${error}"></p>
    </div>
    <div sec:authorize="hasRole('CUSTOMER')">
        <button type="submit" class="btn btn-primary">Add To Cart</button>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a class="btn btn-outline-danger btn-sm" th:href="@{/login}">Login And Then Continue Choosing Products</a>
    </div>
</form>
</section>
</html>