<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<header>
    <meta charset="UTF-8">
    <title>Menu</title>
</header>
<section layout:fragment="main-content">

<table class="table">
    <div class="container-fluid"><h1>Catalog of Foods</h1></div>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Belongs To rest: </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="menuItem : ${products}">
            <td th:text="${menuItem.name}"></td>
            <td th:text="${menuItem.description}"></td>
            <td th:text="${menuItem.price} + ' €'"></td>
            <td th:text="${menuItem.getRestaurant().getRestName()}"></td>
        </tr>
    </tbody>
</table>

</section>
</html>