<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<header>
    <meta charset="UTF-8">
    <title>Menu</title>
</header>
<section layout:fragment="main-content">
<form th:action="@{/menu}" th:object="${menu}" method="post"></form>
    <table class="table">
        <div class="container-fluid"><h1>Catalog of Foods</h1></div>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Belongs To rest: </th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="menuItem : ${products}">
                <td th:text="${menuItem.name}"></td>
                <td th:text="${menuItem.description}"></td>
                <td th:text="${menuItem.price} + ' €'"></td>
                <td th:text="${menuItem.getRestaurant().getRestName()}"></td>
                <td><input type="number" id="price" min="0" required></td>
            </tr>
        </tbody>

    </table>
    <div th:if="${ #lists.isEmpty(products)}">
        <p style="color:red;">No Products found for this restaurant</p>
    </div>
    <button type="submit" class="btn btn-primary">Apply Order</button>
</section>
</html>