<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head layout:fragment="head">
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<section layout:fragment="main-content">
    <br>
    <div class="container-fluid"><h1>All The Available Restaurants</h1></div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Address</th>
            <th>Region</th>
            <th>Owner's name</th>
            <th>Stars</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="res : ${res}">
            <div th:if="${res.isOpen()} ">
<!--                <td th:text="${res.getRestName()}"></td>-->
                <td> <a class="btn btn-outline-light btn-sm" th:href="@{'/menu/' + ${res.getRestId()}}">Show Menu</a></td>
                <td th:text="${res.getRestName()}"></td>
                <td th:text="${res.getRestAddress()}"></td>
                <td th:text="${res.getRestRegion()}"></td>
                <td th:text="${res.getOwner().getName()}"></td>
                <td th:text="${res.getRestStars()} + ' ⭐'"></td>
                <!---To add the name of the owner--->
            </div>
        </tr>
        </tbody>
    </table>
</section>
</html>